/* Cole Chamberlin
	 Info 343 A
	 10/11/15
	 HTML and CSS Concepts
	 
	 This page provides a responsive layout for mobile and desktop viewers for both the main page
	 and the order page
*/

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

/* 0px - 767px */

body {
	font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 300;
	background-color: #E9EAEE;
}

h1, h2, h3 {
	font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
}

h2 {
	color: #BC6026;
	margin: auto;
	margin-bottom: 1em;
}

/*brand icon to navigate to top of page */
nav svg {
	height: 1em;
	width: 1em;
}

/* all other svgs in page */
.svg {
	padding: 1.5em;
}

/* all svgs that are headers of info section */
#info svg {
	fill: #D87E28;
	height: 1.5em;
	width: 1.5em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.italic {
	font-style: italic;
}

/* navbar */
#nav {
	background-color: #181C22;
	display: table;
	width: 100%;
}

/* list of elements in navbar */
ul {
	color: white;
	font-size: 16px;
	padding-left: 15px;
	margin: 0;
	display: table-cell;
	vertical-align: middle;
}

/* elements in list */
li {
	display: inline-block;
	vertical-align: middle;
	padding: 0.5em;
	font-variant: small-caps;
}

dd {
	padding-left: 1em;
}

/* color scheme of links in navbar */
nav a, nav svg {
	fill: white;
	color: white;
	text-decoration: none;
}

nav a:hover, nav svg:hover {
	fill: #D87E28;
	color: #D87E28;
	text-decoration: none;
}

/* hide motto and brand icon for mobile */
#motto, #cafe svg {
	display: none;
}

/* padding to seperate sections of page */
body > div {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

#header {
	padding-top: 3em;
	padding-bottom: 0;
}

#info, #story {
	background-color: #dbdce3;
}

.rounded {
	border-radius: 5px;
}

#storyimg {
	float: right;
	max-height: 300px;
	margin-left: 1em;
}

#footer {
	border-top: 3px solid #d87e28;
	background-color: #afb3c2;
	font-size: 12px;
	padding: 1em;
	clear: both;
}

.soon {
	font-size: 1.5em;
	padding-top: 1em;
	padding-bottom: 1em;
}

#footer > div {
	text-align: left;
}

/* 768px - 991px */

@media (min-width: 768px) {
	/* larger font size for bigger screens */
	body {
		font-size: 20px;
	}
	
	body > div {
		padding-top: 3em;
		padding-bottom: 3em;
	}
	
	/* nav bar becomes more spaced out and transparent on larger screens for artwork to show through */
	#nav {
		background-color: rgba(24, 28, 34, 0.8);
	}
	
	li {
		padding-left: 1em;
		padding-right: 1em;
	}
	
	/* image is displayed for small medium and large screens */
	#header {
		background-image: url("../img/background-sm.jpg");
		background-size: cover;
		text-align: right;
		background-repeat: no-repeat;
		min-height: 550px;
		margin: 0;
		padding: 0;
		color: white;
	}
	
	/* color switches to white for better contrast against image */
	#header h1 {
		padding-top: 3em;
		color: white;
	}
	
	h2 {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1em;
	}
	
	/* display brand icon for larger screens */
	#cafe svg {
		display: initial;
		height: 1.5em;
		fill: #D87E28;
	}
	
	/* display motto for larger screens */
	#motto {
		display: initial;
	}
	
	#cafe {
		font-size: 1.25em;
		padding-top: 0;
		padding-bottom: 3em;
		text-align: center;
	}
	
	/* increases max size of image for larger screens */
	#storyimg {
		max-height: 400px;
	}
	
	/* adjusts footer layout for single-line view on larger screens */
	#footer > div > div:nth-child(2) {
		text-align: right;
	}
}

/* 992px - 1199 */

@media (min-width: 992px) {
	#header {
		background-image: url("../img/background-md.jpg");
	}
	h1 {
		font-size: 4em;
	}
}

/* 1200px - */

@media (min-width: 1200) {
	#header {
		background-image: url("../img/background-lg.jpg"); 
	}
}


